
@model ResendReturnedCard.Models.ResendReturnedCardGetDataResultModel

<!DOCTYPE html>
    <html>
    <head>
        <title>Card Information</title>
    </head>
    <body>
        @if (Model != null && Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <div>
                    <p>卡片ID:@item.ID</p>
                    <p>卡片編號: @item.CardNo</p>
                    <p>卡片名稱: @item.CardName</p>
                    <p>家庭地址: @item.HomeAddr</p>
                    <p>公司地址: @item.CompanyAddr</p>
                    <p>註冊地址: @item.RegisterAddr</p>
                </div>
            }
        }
    </body>
    </html>